@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    --tw-bg-opacity: 1;
    background-color: rgb(250, 247, 245);
    color: black;
  }
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
@layer components {
  .card-prop {
    opacity: 0;
  }
  .card-prop:hover {
    transition: opacity 0.3s linear;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.13);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  }

  .anton {
    font-family: "Anton", sans-serif;
  }
  .glassEffect {
    background-color: rgba(255, 255, 255, 0.13);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  }

  .background {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
  }
  .background .shape {
    position: absolute;
    border-radius: 50%;
  }
  .shape:first-child {
    background: linear-gradient(#1845ad, #23a2f6);
  }
  .shape:last-child {
    background: linear-gradient(to right, #ff512f, #f09819);
  }

  .form {
    background-color: rgba(255, 255, 255, 0.13);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;
  }

  .rdp {
    --rdp-cell-size: 40px; /* Size of the day cells. */
    --rdp-caption-font-size: 18px; /* Font size for the caption labels. */
    --rdp-accent-color: #a7a7d8; /* Accent color for the background of selected days. */
    --rdp-background-color: #e7edff; /* Background color for the hovered/focused elements. */
    --rdp-accent-color-dark: #6047c3; /* Accent color for the background of selected days (to use in dark-mode). */
    --rdp-background-color-dark: #6352a7; /* Background color for the hovered/focused elements (to use in dark-mode). */
    --rdp-outline: 2px solid var(--rdp-accent-color); /* Outline border for focused elements */
    --rdp-outline-selected: 3px solid var(--rdp-accent-color); /* Outline border for focused _and_ selected elements */
    --rdp-selected-color: #0641a7; /* Color of selected day text */
  }
}
::-webkit-scrollbar {
  width: 7px;
  height: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #1f1f1f;
  border-radius: 12px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 12px;
  cursor: pointer;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3f3f3f;
} /* CustomScrollbar.css */
/* Define the scrollbar styles */
::-webkit-scrollbar {
  width: 4px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #bcbbbb;
  border-radius: 12px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #abd0c6;
  border-radius: 12px;
  cursor: pointer;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #009f88;
}